*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Qwitcher+Grypen:wght@700&display=swap');

:root{
    --preto: #1b1c23;
    --branco: #ddd;
    --margin: 20px;
    --marginFinal: 11px;
}

html{
    background-color: var(--branco);
    overflow-x: hidden;
    background-color: var(--preto);
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--branco);
    width: 100%;
}

.navBar{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px;
    padding-left: 100px;
    color: var(--branco);
    background-color: var(--preto);
    border-bottom: #1b1c23 solid 2px;
    border-bottom: var(--branco) solid 2px;
    z-index: 1000;
}

.navBar img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: var(--branco);
    border-radius: 12px;
    padding: 2px;
}

.card{
    display: flex;
    background-color: var(--preto);
    color: var(--branco);
    width: 50vw;
    height: auto;
    border-radius: 22px;
    padding: 5px;
    flex-direction: row;
    margin-bottom: var(--margin);
}

.card p{
    font-weight: 600;
}

.card .container{
    display: flex;
    flex-direction: column;
}

.card .container p:not(:last-child){
    margin-bottom: var(--margin);
}

.card .container span{
    width: 100%;
    text-align: end;
    font-size: 12px;
}

.carrossel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 25px;
    background-color: var(--preto);
    margin-bottom: var(--margin);
}

.carrossel h1{
    margin-bottom: var(--margin);
    color: var(--branco);
}

.carrossel .janela{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 200px;
    overflow-x: hidden;
}

.carrossel .janela img{
    width: auto;
    height: 200px;
}

.carrossel .janela img:not(:last-child){
    margin-right: 20px;
}

.init{
    background-color: var(--preto);
    width: 100%;
    height: 100vh;
    margin-bottom: var(--margin);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
    color: var(--branco);
}

.init h1{
    font-size: 100px;
}

.init p{
    font-size: 60px;
}

.init img, .degrade{
    width: 100vh;
    height: 100vh;
    position: absolute;
    right: 0;
}

.degrade{
    background-image: linear-gradient(to right, #1b1c23, rgb(0,0,0,0));
    z-index: 100;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--preto);
    color: var(--branco);
    margin-top: var(--marginFinal);
    width: 100%; 
}

@media (max-width: 450px){

    .navBar{
        top: 0;
        width: 100%;
        padding: 20px;
        padding-left: 100px;
        font-size: 14px;
    }

    .init{
        background-color: transparent;
        height: 500px;
        width: auto;
        margin-bottom: var(--margin);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .init img{
        width: 100%;
        height: auto;
    }

    .init p, .init h1{
        font-size: 0;
    }

    .degrade{
        width: 0;
        height: 0;
    }

    .card{
        width: 80vw;
        height: auto;
        padding: 22px;
    }

    .carrossel{
        padding: 15px 0;
    }
}